chain/*
!chain/*.cpp
!chain/*.py

rdf/*
!rdf/*.cpp
!rdf/*.py

chaintreereader/*
!chaintreereader/*.cpp
!chaintreereader/*.py

tree/*
!tree/*.cpp
!tree/*.py

treetreereader/*
!treetreereader/*.cpp
!treetreereader/*.py

!README.md